src/test/resources/values/max-allowed-units.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="test_data">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="data" type="data" />
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="uniqueData">
			<xs:selector xpath="data" />
			<xs:field xpath="points" />
			<xs:field xpath="units" />
		</xs:unique>
	</xs:element>

	<xs:complexType name="data">
		<xs:sequence>
			<xs:element name="points" type="xs:integer" maxOccurs="1"
				minOccurs="1" />
			<xs:element name="units" type="xs:integer" default="1"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>